main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border: 1px solid black;
    width: min-content;
}

#inputs {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#results {
    padding: 50px 30px 0px 0px;
    align-items: center;
    width: 100px;
}

#totalCost {
    margin-top: 40px;
}

.right-side {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.name {
    margin: 5px 5px;
}

button {
    margin-top: 10px;
}
